<!--
/*
 * (C) 2014 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of Goto.Co.
 *
 * Goto.Co is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Goto.Co is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Goto.Co.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Goto.Co</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/myschedule" class="item-icon-left">
          <i class="icon ion-ios7-calendar-outline"></i> My Schedule
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/tracks" class="item-icon-left">
          <i class="icon ion-pound"></i> Tracks
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/sessions" class="item-icon-left">
          <i class="icon ion-ios7-albums-outline"></i> Sessions
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings" class="item-icon-left">
          <i class="icon ion-ios7-gear-outline"></i> Settings
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/about" class="item-icon-left">
          <i class="icon ion-ios7-information-empty"></i> About
        </ion-item>
        <ion-item class="item-divider">
          <small>&copy; 2014 Michael Engelhardt</small><br  />
          <small>Version: VERSIONNR-BUILDNR</small> <br />
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
