<!--
/*
 * (C) 2014 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of Goto.Co.
 *
 * Goto.Co is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Goto.Co is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Goto.Co.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<ion-view title="Session {{session.title}}">
  <ion-content class="has-header">

    <div class="card">
      <ion-item class="item-divider item-text-wrap item-icon-left" ng-class="{'item-icon-right':rewardable}">
        <i class="icon ion-ios7-albums-outline"></i>
        <i class="icon reward-star" ng-if="rewardable" title="session is rewardable"></i> {{session.title}}
      </ion-item>
      <ion-item class="item item-avatar item-icon-right" ng-repeat="speaker in session.speakers" href="#/app/speaker/{{speaker.id}}">
        <img src="http://www.gotocon.com/{{speaker.pictureUrl}}">
        <h2>{{speaker.name}}</h2>
        <i class="icon ion-ios7-arrow-forward" style="color:{{track.color}};"></i>
      </ion-item>
      <ion-item ng-repeat="track in tracks | orderBy: 'title' " href="#/app/track/{{track.id}}" class="item-icon-left item-icon-right">
          <i class="icon ion-pound" style="color:{{track.color}};"></i>
          <h2 style="color:{{track.color}};">{{track.title}}</h2>
          <i class="icon ion-ios7-arrow-forward" style="color:{{track.color}};"></i>
      </ion-item>
      <ion-item class="item">
        Room: {{session.room.name}}
      </ion-item>
      <ion-item class="item">
        <button class="button button-icon-light icon ion-ios7-information-outline" ng-click="openExternal(session.title)"> View on website</button>
        <button ng-show="!isOnMySchedule" class="button button-icon-light icon ion-ios7-checkmark-outline" ng-click="addSession(session.id)"> Put session to my schedule</button>
        <button ng-show="isOnMySchedule" class="button button-icon-balanced balanced icon ion-ios7-checkmark-outline" ng-click="removeSession(session.id)"> Remove session from my schedule</button>
      </ion-item>
      <ion-item class="item item-divider">
        <div ng-repeat="slot in session.timeSlots">
          <p>Time: {{slot.startDate|asDate|date:'medium'}} - {{slot.endDate|asDate|date:'medium'}}</p>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
