<!--
/*
 * (C) 2014 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of Goto.Co.
 *
 * Goto.Co is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Goto.Co is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Goto.Co.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="row padding">
      <div class="col col-75">
        Clears all locally saved data and forces new synchronisation.
      </div>
      <div class="col col-25">
        <button class="button button-block button-assertive" ng-click="sync()"><i class="icon ion-ios7-cloud-download"></i> Sync again</button>
      </div>
    </div>
    <div class="row padding">
      <div class="col col-75">
        Clear saved 'my sessions' list.
      </div>
      <div class="col col-25">
        <button class="button button-block button-energized" ng-click="deleteMySessions()"><i class="icon ion-ios7-trash"></i> Clear 'My Sessions'</button>
      </div>
    </div>
    <div class="row padding">
      <div class="col col-75">
        Delete whole database and all cached data.
      </div>
      <div class="col col-25">
        <button class="button button-block button-assertive" ng-click="deleteDatabase()"><i class="icon ion-ios7-trash"></i> Delete database</button>
      </div>
    </div>
  </ion-content>
</ion-view>
