<!--
/*
 * (C) 2014 Michael Engelhardt <me@mindcrime-ilab.de>
 *
 * This file is part of Goto.Co.
 *
 * Goto.Co is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Goto.Co is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Goto.Co.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<ion-item class="item-icon-left item-text-wrap item-icon-right"
          ng-repeat="session in sessions | filter:filterObject| orderBy:'timeSlots[0].startDate'"
          href="#/app/session/{{session.id}}">
  <i class="icon ion-ios7-albums-outline"></i>

  <h2>{{session.title}}</h2>

  <div>
          <span ng-repeat="speaker in session.speakers">
            {{speaker.name}}<span ng-if="!($first || $last)">, </span>
          </span>
  </div>

  <div ng-repeat="slot in session.timeSlots" ng-show="showTimeSlots">
    <p>Time: {{slot.startDate|asDate|date:'medium'}} - {{slot.endDate|asDate|date:'medium'}}</p>
  </div>

  <i class="icon ion-ios7-arrow-forward"></i>
</ion-item>
